<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Tela.css') }}">
</head>
<body>
    <div class="login-wrap">
        <div class="login-html">
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <a href="/consultar" class="button">Consultar - GET</a>
                    </div>
                    <div class="group">
                        <a href="/adicionar" class="button">Adicionar - POST</a>
                    </div>
                    <div class="group">
                        <a href="/atualizar" class="button">Atualizar - PUT</a>
                    </div>
                    <div class="group">
                        <a href="/remover" class="button">Remover - DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
